//Colors
$blue-color:#1B3764;
$light-blue-color:#F4F8FF;
$yellow-color:#FFCA42;

//Fonts
$main-font-family:'Cardo';
$main-font-weight:400;
$main-font-size:24px;

$secondary-font-family:'Inter';
$secondary-font-weight:400;
$secondary-font-size:19px;