.welcome__text {
  margin-left: 5%;
  width: 510px;
  height: 510px;
  padding-top: 40px;
}

.book-image {
  margin-right: 5%;
  padding-top: 100px;
  padding-bottom: 50px;

}

.book-details {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}